<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        Create New Order
    </h3>

    <hr>
    
    <form style="text-align:center;" action="" method="post">
        {% csrf_token %}


        
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    {% comment %} <h1>Data for Frame</h1> 
    {{df|safe}}

    <label for="cars">Choose a color:</label>

    <select name="color" id="color">
        {% for color in distinct_color_type %}
        <option value={{color.field}}>{{color.field}}</option>
        {% endfor %}
    </select> {% endcomment %}
</body>
</html>